.empty
{
  height: 750px;
  display: flex;
  justify-content: space-between; 

  .sub
   {
    display: flex;
    justify-content: space-around; 

  




    .form-group1
        {
  margin-top: 20px;


    

.reset
{
    background-color: blue;
    width: 100px;
    height: 40px;






#submit
{
  background-color: green;
  margin-left: 100px;
  width: 100px;
  height: 40px;
}
}
}



.main
{

  height:700px;
  width: 600px;
  display: flex;
  justify-content: space-between; 
  margin-right: 200px;


  .text-center1
{
  width: 300px;
  display: flex;
  justify-content: space-between; 
}
}


}
}