.empty
{
  height: 750px;
  display: flex;
  justify-content: space-between; 

  .panel panel-primary
{
  margin-left: 20px;
  width: 200px;


  .panel-heading
  {
   margin-left: 200px;
   margin-top: 50px;
   font-size: 30px; 

}
  
 .panel-body
  {
    background-color: #EDEDED;
    margin-left: 100px;
        width: 500px;
  }

  }




.form-group1
        {
  margin-top: 20px;


    

.reset
{
    background-color: #0000FF;
    width: 100px;
    height: 40px;






#submit
{
  background-color: #008000;
  margin-left: 100px;
  width: 100px;
  height: 40px;
}
}
}



.da
{
      margin-right: 300px;
    font-size: 30px;
    padding-top: 20px;

}
}