.header {
  height: 45px;
  display: flex;
  justify-content: space-between;
  background-color: black; }
  .header .sub {
    display: flex;
    justify-content: space-around; }
    .header .sub .logo {
      padding-top: 10px;
      margin-left: 100px; }
    .header .sub .dropdown {
      position: relative;
      display: inline-block;
      display: flex;
      justify-content: space-between; }
      .header .sub .dropdown .dropdown-content {
        display: none;
        position: absolute;
        background-color: black;
        min-width: 100px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1; }
        .header .sub .dropdown .dropdown-content .dropdown-content a {
          color: white;
          padding: 12px 16px;
          text-decoration: none;
          display: block; }
      .header .sub .dropdown .dd {
        display: flex;
        justify-content: space-between;
        color: grey;
        margin-top: 15px; }
  .header .main_account {
    margin-right: 20px;
    width: 250px;
    height: 45px;
    margin-right: 100px; }
    .header .main_account .sub_account {
      color: grey;
      display: flex;
      justify-content: space-between;
      list-style-type: none; }

.footer {
  height: 10px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  border-bottom: solid grey;
  border-width: thin;
  margin-left: 70px;
  margin-right: 90px; }
  .footer .sub {
    display: flex;
    justify-content: space-around; }
    .footer .sub .logo2 {
      margin-left: 40px;
      padding-top: 15px; }
    .footer .sub .power {
      padding-top: 20px;
      padding-left: 20px;
      font-size: small;
      color: grey; }
  .footer .sub {
    display: flex;
    justify-content: space-around; }
    .footer .sub .main_footer {
      width: 600px;
      margin-right: 100px;
      display: flex; }
      .footer .sub .main_footer .footer_sub {
        display: flex;
        justify-content: space-between;
        font-size: small;
        padding-top: 5px;
        padding-left: 30px;
        color: grey; }

.empty {
  height: 750px;
  display: flex;
  justify-content: space-between; }
  .empty .sub {
    display: flex;
    justify-content: space-around; }
    .empty .sub .form-group1 {
      margin-top: 20px; }
      .empty .sub .form-group1 .reset {
        background-color: blue;
        width: 100px;
        height: 40px; }
        .empty .sub .form-group1 .reset #submit {
          background-color: green;
          margin-left: 100px;
          width: 100px;
          height: 40px; }
    .empty .sub .main {
      height: 700px;
      width: 600px;
      display: flex;
      justify-content: space-between;
      margin-right: 200px; }
      .empty .sub .main .text-center1 {
        width: 300px;
        display: flex;
        justify-content: space-between; }

.dropbtn {
  background-color: black;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer; }
  .dropbtn .dropbtn:hover, .dropbtn .dropbtn:focus {
    background-color: black; }

fieldset {
  border: thin solid #black;
  border-radius: 4px;
  padding: 20px;
  padding-left: 40px;
  background: #fbfbfb;
  margin-left: 180px;
  margin-top: 40px; }

legend {
  color: black;
  font-size: 40px; }

li1 {
  width: 300px;
  height: 50px;
  border: 1px solid black;
  background-color: grey;
  box-sizing: border-box;
  padding-right: 200px;
  display: flex;
  justify-content: column; }

.form-group {
  font-size: 25px; }
  .form-group .form-control {
    width: 95%; }

/*# sourceMappingURL=final3a.css.map */
