.listparents
{
 
 display: flex;
 margin-left:140px;
 color: black;
 font-size:small;
 padding-left: 40px;

 



.lists{
  list-style-type: none;

}

.lborder
{
  background-color: #355b79;
  height:35px;
  display: flex;
  font-family: "Arial";
  color:white;
  padding-left:120px;

.para
{
  
  color:white;
  padding-left:30px;
  margin:40px;
  margin-top: 40px;

.id4

{
  padding-left:50px;
  display: flex;
   margin:30px;
  margin-top: 10px;
  
}
}
}
}

  


  