.header {
  
  height: 45px;
  display: flex;
  justify-content: space-between; 
  background-color: black;
   
   .sub
   {
    display: flex;
    justify-content: space-around; 

   


   .logo
   {
       padding-top: 10px;
       margin-left: 100px;
   }

   .main_my_app
   {
    color:grey;
    width:40px;
    width: 200px;
    

   .my_app
   {
    display: flex;
    justify-content: space-between;
   
    
   }
}
   
   

   .main_account
   {
      margin-right:20px;
      width: 250px;
      height: 45px;
      margin-right: 100px;



   

   .sub_account
   {
    color: grey;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
 
  }

}
}




}

